#csIlustriation {
    display: flex;
    flex-direction: row;
    margin-bottom: 2em;
}

img {
    width: 45%;
    height: auto;
}

#ilustrationText {
    padding: 2em;
    background-color: var(--colorGreenAccent);
    width: max-content;
    min-height: max-content;
    border-radius: 25px;
    color: white;
    align-content: center;
    flex-wrap: wrap;
}

#csMapGrid {
    /* width: 90%; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0;
    justify-items: stretch;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 3px rgba(57, 57, 57, 0.2);
}
.csMapContent {
    padding: 0 1em;
    font-family: 'Raleway', sans-serif;
    justify-items: stretch;
    align-items: center;
    background-color: var(--colorHouseGreen);
    font-weight: 400;
    color: white;
}

#csMapExplination {
    background-color: #d4e9e2;
    grid-column: 1/4;
    padding: 2em 4em;
    color: black;
}

.selected {
    background-color: #d4e9e2;
    color: black;
}

#csMoreInfoGrid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 3em;
    margin-bottom: 4em;
}

.csGridTitle{
    align-self: center;
    justify-items: start;
    background-color: var(--colorGreenAccent);
    color: white;
    padding: 1em;
    border-radius: 12px;
}

@media (max-width: 900px) {
    #csIlustriation {
        flex-direction: column;
        flex-wrap: wrap;
        overflow-wrap: break-word;
        align-items: center;
        }

    img {
        width: 65%;
        min-width: 300px;
        height: auto;
    }

    #ilustrationText {
    flex-wrap: wrap;
    overflow-wrap: break-word;
    width: 95%;
    padding: 1em;
    align-self: flex-start;
    }
}