#linksGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em 1em;
    margin-bottom: 3em;
}
#h4subtitle {
    margin: 0;
}

#title {
    margin: 3em 2em 1em 2em;
}

#quickContentSlider {
    background-color: rgb(0, 109, 0);
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 1em 0 2em;
    height: fit-content;
}

#quickBoxTitle{
    margin-left: 2em;
    color: white;
}

#quickBoxes {
display: flex;
flex-direction: row;
overflow-y: scroll;
}  

.quickContent {
    background-color: #f2f0eb;
    border-radius: 20px;
    padding: .5em;
    min-height: 5em;
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.8);
    margin: 2em 2em 3em;
    min-width:30%;
    transition: .5s;
}

.quickContent:hover {
    transform: scale(1.1);
}

#linksMainTitle {
    width: 95%;
    margin: auto;
}

.pageLinks {
    border-radius: 20px;
    padding: 1em;
    margin: 3em;
    min-height: 5em;
    box-shadow: 0px 0px 15px 1px rgba(153,150,153,1);
    transition: .5s;
    border: 5px solid rgb(169, 142, 91);
}

.pageLinks:hover {
    background-color: rgb(0, 109, 0);
    color: white;
    border-color: rgb(0, 109, 0);
}

.quickLinkBackground {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    padding:0;
    margin: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(2px);
    z-index: 10;
}
 .quickLinkBox {
    background-color: white;
    border-radius: 10px;
    max-height: 80vh;
    width: 100%;
    max-width: 900px;
    padding: 2em;
    z-index: 20;
    overflow: scroll;
 }

 #expirationGrid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    overflow: scroll;
    margin: 0 auto;
 }

 summary {
    background-color: black;
    padding: 10px;
    cursor: pointer;
    color: white;
  }
  details[open] summary {
    background-color: #ccc;
    content: "- ";
  }

summary::marker {
    content: "+ ";
}
details[open] summary::marker {
    content: "- ";
  }

#subtitles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#container2 {
    background-color: #ccc;
    border-radius: 150px;
    height: 6em;
    min-width: 20em;
    text-align: right;
    display: flex;
    justify-content: flex-end;
}

#photo {
    background-color: gray;
    border-radius: 50%;
    height: 6em;
    width: 6em;
}

.quickLinkTitleBox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.returnButton{
    background-color: var(--colorGreenAccent);
    color: white;
    border: none;
    padding: .5em 2em;
    height: fit-content;
    width: fit-content;
    border-radius: 10px;
}

.returnButton:hover {
    background-color: var(--colorHouseGreen);
}

.prepContent {
    display: flex;
    flex-direction: column;
}

.prepBox {
    display: flex;
    flex-direction: row;
    border-radius: 25px;
    width: 95%;
    background-color: var(--colorGreenLight);
    margin-bottom: 2em;
    height: fit-content;
}

.innerPrepBox{
    background-color: var(--colorHouseGreen);
    color: white;
    padding: 1em 1em;
    font-weight: 700;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    min-width: 30%;
}

.prepExp {
    display: flex;
    flex-direction: column;
    margin: 1em auto;
    max-width: 95%;
}


@media (max-width: 700px) {
    #linksGrid {
      grid-template-columns: 1fr;
    }

    #quickBoxes {
        flex-direction: column;
        overflow: auto;
    }

    .pageLinks{
        margin: 1em 0;
    }

    

  }